body {
  background-image: url(img/new_background_1.png);
  height: 100%;
  background-position: center;
  background-size: cover;
  color: red;
}
#orarul {
  margin-left: 200px;
  width: 450px;
}
.curs {
  background-color: white;
  text-align: center;
  padding: 20px;
  color: black;
  font-size: 20px;
}
.grupe {
  border: 0px;
  background-color: white;
  width: 100px;
  padding: 8px;
}
.prof {
  color: white;
  background-color: rgb(108, 202, 108);
  border: 0px;
  width: 120px;
  padding: 8px;
}
.prof:hover {
  color: black;
  background-color: white;
}
.aule {
  color: white;
  background-color: rgb(108, 202, 108);
  border: 0px;
  width: 100px;
  padding: 8px;
}
.aule:hover {
  color: black;
  background-color: white;
}
.select-but {
  display: flex;
  justify-content: space-between;
}
.serch-bar {
  display: flex;
  margin-top: 20px;
}
.serch-bar input {
  padding: 8px;
  width: 393px;
  margin-left: 40px;
}
.serch-bar button {
  width: 42px;
  padding: 8px;
  position: absolute;
}
.scroll-box {
  margin-top: 20px;
  height: 80px;
  width: 449px;
  overflow: auto;
  background-color: white;
  color: rgb(0, 0, 0);
}
.ziua-sap select {
  margin-top: 20px;
  width: 449px;
  padding: 8px;
}
.saptamana select {
  margin-top: 20px;
  width: 449px;
  padding: 8px;
}
.semestru {
  margin-top: 20px;
  width: 449px;
  padding: 8px;
}
.orar {
  background-color: rgb(108, 202, 108);
  text-align: center;
  color: white;
  max-width: 450px;
  margin-top: 20px;
  border: 1px rgb(255, 255, 255) solid;
  display: grid;
  grid-template-columns: 100px repeat(7, 1fr);
  grid-template-rows: repeat(8, 25px);
}
.orar div {
}
.bg-green {
  border: 1px white solid;
}
.bg-white {
  border: 1px gray solid;
  background-color: white;
}
p {
  font-size: 17px;
  color: rgb(255, 255, 255);
  text-align: center;
}
