body {
  background-image: url(img/new_background_1.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1300px;
  margin: 0 auto;
}
#orarul {
  margin-left: 10%;
  width: 450px;
}
.curs {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
  padding: 20px;
  color: #666;
  font-size: 20px;
}
.grupe {
  border: 0px;
  background-color: white;
  width: 100px;
  padding: 8px;
}
.prof {
  color: white;
  background-color: #25975a;
  border: 0px;
  width: 120px;
  padding: 8px;
}
.prof:hover {
  color: black;
  background-color: white;
}
.aule {
  color: white;
  background-color: #25975a;
  border: 0px;
  width: 100px;
  padding: 8px;
}
.aule:hover {
  color: black;
  background-color: white;
}
.select-but {
  display: flex;
  justify-content: space-between;
}
.serch-bar {
  display: flex;
  margin-top: 20px;
}
.serch-bar input {
  padding: 9px;
  width: 393px;
  margin-left: 40px;
  border: 0;
}
.serch-bar button {
  width: 42px;
  padding: 8px;
  position: absolute;
  background-color: white;
  border: 1px white solid;
}
.scroll-box {
  margin-top: 20px;
  height: 100px;
  width: 449px;
  overflow: auto;
  background-color: white;
}
.scroll-box div {
  height: 24px;
  border-top: 1px gray solid;
}
.element a {
  display: flex;
  margin-top: 3px;
  text-decoration: none;
  margin-left: 15px;
  color: black;
}
.element:hover {
  background-color: antiquewhite;
}
.element:hover a {
  color: #25975a;
}
.element:focus-within {
  background-color: #25975a;
}
.element:focus-within a {
  color: white;
}
.ziua-sap select {
  margin-top: 20px;
  width: 449px;
  padding: 8px;
}
.saptamana select {
  margin-top: 20px;
  width: 449px;
  padding: 8px;
}
.semestru {
  margin-top: 20px;
  width: 449px;
  padding: 8px;
}
.orar {
  background-color: white;
  text-align: center;
  color: white;
  max-width: 450px;
  margin-top: 20px;
  border: 1px rgb(255, 255, 255) solid;
  display: grid;
  grid-template-columns: 100px repeat(7, 1fr);
  grid-template-rows: repeat(8, 25px);
}
.bg-green {
  background-color: #25975a;
  border: 1px white solid;
}
.item-hover:hover {
  background-color: antiquewhite;
}
.bg-white {
  border-right: 1px #666 solid;
  border-bottom: 1px #666 solid;
}
.explination {
  font-size: 17px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.buttons-bot {
  display: flex;
}
.desc-orar {
  display: flex;
  width: 110px;
  background-color: #25975a;
  color: white;
  border: 1px white solid;
  border-radius: 4px;
  text-decoration: none;
  padding: 0 10px;
  margin-left: 20px;
}
.student {
  display: flex;
  text-decoration: none;
  color: rgb(146, 146, 146);
  margin-left: 20px;
}
.exemple {
  display: flex;
  width: 80px;
  background-color: rgb(245, 74, 74);
  color: white;
  border: 1px white solid;
  border-radius: 4px;
  text-decoration: none;
  padding: 0 10px;
  margin-left: 20px;
}
.anunt {
  background-color: white;
  padding: 20px;
  color: #25975a;
  font-size: 20px;
}
#obiectele img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  margin-top: 5px;
}
h4 {
  color: white;
  font-weight: 900;
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  margin: 0;
  padding: 0;
}
.obiectele-din-ziua {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: repeat(7, 1fr);
  background-color: white;
  margin-bottom: 10px;
}
.obiectele-din-ziua div {
  text-align: center;
  padding: 20px;
}
.bg-greener:hover {
  background-color: antiquewhite;
  color: black;
}
.bg-greener {
  color: white;
  background-color: #25975a;
  border: 1px white solid;
}
.bg-whiter {
  border-bottom: 1px gray solid;
  border-top: 1px gray solid;
  border-right: 1px gray solid;
}
